body {
  font-family: 'CerebriSans-Regular', -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #333;
  font-size: 100%;
  margin: 0 auto;
  background: #fff;
}

#root {
  width: 100%;
}